.header {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .header h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
  }
  
  .header-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .header-buttons button {
    padding: 15px 25px;
    font-size: 18px;
    background-color: #6a0dad;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .header-buttons button:hover {
    background-color: #5a0a9d;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .header-buttons button:active {
    background-color: #4a078d;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .weather-container.dark-mode .header {
    background-color: #2e003e;
    color: #f1f1f1;
    border-bottom: 1px solid #6a0dad;
  }
  
  .weather-container.dark-mode .header h1 {
    color: #f1f1f1;
  }
  
  .weather-container.dark-mode .header .header-buttons {
    background-color: #2e003e;
  }
  
  .weather-container.dark-mode .header .header-buttons button {
    background-color: #6a0dad;
    color: #f1f1f1;
  }
  
  .weather-container.dark-mode .header .header-buttons button:hover {
    background-color: #5a0a9d;
  }
  